<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>login</title>
</head>

<body>
    <h2>login</h2>
    <ul>
        <li><a href="/">index page</a></li>
    </ul>
    <div>
        <form action="/login" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div>
                <label for="email">email</label>
                <input type="text" name="email" id="email" required>

                <label for="password">password</label>
                <input type="password" name="password" id="password" required>
                
                <input type="checkbox" id="rememberMe" name="remember-me"> <label for="rememberMe">Remember me</label>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>

</html>